header{
	background:red;
	border:solid 2px;
	height:500px;
	border:solid 5px;
}
main{
	background:green;
	border:solid 2px;
	height:500px;
	border:solid 5px;
}
footer{
	background:purple;
	border:solid 2px;
	height:500px;
	border:solid 5px;
}
div{
	border:solid 5px;
	margin-right: 300px;
	margin-left: 300px;
	height:500px;
}

	